.App {
  text-align: center;
  padding: 20px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produto-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.produto-item img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
